*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head{
    height: 10vh;
    font-family: sans-serif;
    background-color: aqua;
    text-align: center;
    margin: 0px;
    padding-left: 5px;
    background-image: url('../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg');
    background-size: cover;
    background-position: center;
}